
{% extends 'layouts/base.html' %}

{% block content %}

<h1>About</h1>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus vitae facere deleniti quos ab illo quam, nihil asperiores aliquid officia nemo perferendis optio voluptatibus, eveniet, soluta quas eum odit accusamus error expedita. Animi ipsam quos soluta? Quis voluptates consectetur aliquam architecto sequi atque quam maiores, esse officiis unde nam hic, molestias aperiam veniam iusto illum minus, nihil corrupti! Et nesciunt voluptatum maxime, error eveniet laudantium consequuntur itaque voluptates, quas, quibusdam nostrum modi consectetur accusamus iste perspiciatis quam. Ea adipisci provident tempora nulla iste exercitationem, deserunt pariatur atque eligendi alias quas iusto nisi autem qui? Aliquid, voluptas? Fugit explicabo sed saepe.</p>

<p>Website created by {{ username }}</p>

{% endblock %}